@import "bootstrap.css";

html {
	font-family: 'Lato', sans-serif;
	position: relative;
    min-height: 100%;
}

body {
	background: #e97195;
	min-width: 320px;
	min-height: 370px;
	margin: 0 0 50;
}

header, footer {
	width: 100%;
}

header {
	background-color: #ffffff;
	min-height: 51px;
}

header.editing .branding {
	float: left;
}

header .branding {
	position: relative;
	z-index: 110;
	padding-top: 3px;
	background: #ffffff;
}

header #fixed-header {
	position: fixed;
	z-index: 100;
	min-width: 502px;
	right: 0;
}

header .toolbar {
	background: #71D2E9;
	padding: 10px;
	width: auto;
	float: right;
	height: 51px;
	display: none;
}

header .controls {
	margin-right: 20px;
	margin-left: 20px;
}

.toolbar > div {
	width: 34px;
	height: 36px;
	margin: 0 5px;
	display: inline-block;
	float: left;
}

.toolbar > div:hover, .stroke button:hover {
	-webkit-filter: grayscale(1) brightness(30%); 
}

.toolbar .selected, .stroke .selected button {
	border-bottom: 3px solid #127685;
	padding-bottom: 4px;
	height: 36px;
}

.toolbar > .padding {
	width: 173px;
	height: 1px;
	float: left;
	max-width: 173px;
}

.logo {
	position: relative;
	margin: 0 24px;
	font-size: 34px;
	font-family: 'Lobster', cursive;
}

a.logo, a.logo:visited {
	text-decoration: none;
	color: #444444;
}

a.logo:hover {
	color: #71D2E9;
}

.slogan {
	position: relative;
	margin: -2px 24px 0px 24px;
	padding-bottom: 5px;
	font-size: 15px;
	font-style: italic;
	white-space: nowrap;
}

#page {
	text-align: center;
	min-height: 452px;
}

#drawing-board {
	display: block;
	margin: 0 auto;
	position: relative;
}

#drawing-board #threads {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50;
	visibility:hidden;
	pointer-events: visible;
}

#drawing-board svg {
	z-index: 10;
}

.thread {
	background: #ffffff;
	position: absolute;
	display: block;
	padding: 8px;
	text-align: left;
	visibility: visible;
}

.thread textarea {
	width: 200px;
	float: left;
	clear: both;
}

.thread ul {
	width: 200px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.thread li {
	padding: 5px 0;
}

.thread button {
	margin-top: 10px;
	width: 100%;
	background-color: #71D2E9;
	border-color: #71D2E9;
}

#main.container {
	padding: 60px;
	background: #e97195;
}

#drop-area {
	max-width: 620px;	
	width: 100%;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	background-color: #c75678;
	border: dashed 3px #7A1333;
	display: table; 
	padding: 10px;
	cursor: pointer;
}

#drop-area span {
	vertical-align: middle; 
  	text-align: center; 
	display: table-cell;
}

#file-upload-button {
	display: none;
}

footer {
	height: 50px;
	background-color: #71D2E9;
	color: #127685;
	text-align: center;
	padding: 16px;
	box-sizing: border-box;
	font-size: 14px;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.drawCircle {
	background: url(../images/circle-outline-32.png) no-repeat;
}

.drawSquare {
	background: url(../images/square-outline-32.png) no-repeat;
}

.drawFree {
	background: url(../images/edit-6-32.png) no-repeat;
}

.drawArrow {
	background: url(../images/arrow-19-32.png) no-repeat;
}

.comment {
	background: url(../images/speech-bubble-32.png) no-repeat;
}

.save {
	/*background: url(../images/checkmark-32.png) no-repeat;*/
	width: 39px !important;
	margin-left: 0 !important;
	padding: 7px 0;
	font-size: 13px;
}

.toolbar > div.save:hover {
	-webkit-filter: none;
}

.export {
	background: url(../images/png-32.png) no-repeat;
}

.delete {
	background: url(../images/delete-32.png) no-repeat;
}

.toolbar .stroke {
	width: 40px;
}

.toolbar .stroke button.btn {
	padding: 1px 4px;
}

.toolbar .sp-replacer {
	width: 40px;
}

.toolbar > div.stroke:hover {
	-webkit-filter: none;
}

.stroke .stroke-icon {
	background: url(../images/line-width-32.png) no-repeat;
	width: 24px;
	height: 28px;
}

.stroke .dropdown-toggle {	
	width: 44px;
	height: 27px;
	border: none;
	margin: 1px 0;
	background: none;
}

.toolbar .sp-replacer .caret {
	margin: 13px 0 0 27px;
}

.caret {
	border-top-color: #2b657e;
}

.toolbar .caret {
	float: left;
}

.stroke .caret {
	margin: -13px 0 0 29px;
}

.stroke .dropdown-menu, .stroke .dropdown-menu:hover {
	min-width: 70px;
	width: 70px;
	text-align: left;
	background: #ffffff; 
}

footer a {
	text-decoration: none;
	color: #127685;
}

footer a:hover {
	text-decoration: none;
	color: #444444;
}

header.editing .toolbar .sp-dd {
	display: none;
}

.toolbar .sp-dd {
	display: none;
}

.toolbar .sp-replacer {
	padding: 3px;
	background: none;
	border: none;
	margin: 1px 0;
}

.toolbar .sp-preview, .toolbar .sp-preview-inner {
	width: 25px;
	height: 25px;
	border: none;
	background: none;
}

.toolbar .sp-preview-inner {
	border: 2px solid #444;
}

.mobile {
	display: none;
}

@media only screen and (max-height : 600px) {
	#drop-area {
		height: 240px;
	}
}

@media only screen and (max-width : 707px) {
	header.editing .toolbar {
		margin-left: 0px;
	}

	header.editing .controls {
		margin-left: 10px;
		margin-right: 10px;
	}

	header.editing .toolbar .sp-dd {
		display: none;
	}

	header.editing .branding .logo {
		display: none;
	}

	header.editing .mobile.logo {
		display: block;
		width: 42px;
		margin: 0 10px;
	}
}

@media only screen and (max-width : 570px) {
	header #fixed-header {
		left: 0;
	}

	header .branding {
		display: none;
	}
}